target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.gradle/
.vscode/
.DS_Store
/.gradle/__pycache__/
__pycache__/
nul
.claude/
TODOs.odt
.codebuff-memory.db
buffy-guide.md
codebuff-memory.js
node_modules/
.~lock.TODOs.odt#